<!DOCTYPE html>
<html ng-app="store">

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@uirouter/angularjs@1.0.5/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="app-directives.js"></script>
</head>

<body>


  <div ng-controller="cvListCtrl">

    <div class="container1">
      <h1>CV List</h1>
      Candidates
      <div ng-repeat="cv in cvList track by $index" ng-click="itemClick($index)" class="not-selected" ng-class="{'selected' : selectedItem === $index}">
        #{{$index}} {{cv.name + ' ' + cv.surname}}
      </div>
    </div>

    <div class="container2">
      <expanded-form></expanded-form>

      <form-fields></form-fields>

    </div>

  </div>

</body>

</html>